// Place all the styles related to the Instagram controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.instagram {
  //padding: 10px;
  font-weight: bold;
  //border: solid 2px black;
  //cursor :pointer;
  color: black;
  background-color: white;
}

.instagram_button{
  color: white;
  background-color: gray;
}